<div class="row container text-center">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="firstname">Firstname</label>
        <input type="text" id="fn" class="form-control" #firstname>
      </div>
      <div class="col-md-6 form-group">
        <label for="firstname">Lastname</label>
        <input type="text" id="ln" class="form-control" #lastname>
      </div>
    </div>
  </div>
  <div class="col-md-12 form-group">
    <select name="ailment" id="ailment" class="form-control" #ailment>
      <option value="Malaria" class="active">None</option>
      <option value="Malaria">Malaria</option>
      <option value="Typhoid">Typhoid</option>
      <option value="Cholera">Cholera</option>
      <option value="Dysentry">Dysentry</option>
    </select>  
  </div>
  <button class="btn btn-primary" (click)="addPatient(firstname.value, lastname.value, ailment.value)">Add Patient</button><br>
</div>